/* .App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.landing-section {
  padding: 50px;
}

.landing-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.landing-section p {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.main-button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s;
}

.main-button:hover {
  background-color: #21a1f1;
} */
/* App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-header h1 {
  margin: 0;
  font-size: 2.5rem;
}

nav a {
  color: #bada55;
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.1rem;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

h2 {
  color: #444;
  font-size: 2.5rem;
}

p{
  font-size: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

form input, form button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form input[type="file"] {
  padding: 3px;
}

form button {
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border: none;
}

form button:hover {
  background-color: #218838;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

ul li img {
  border-radius: 50%;
  margin-right: 20px;
}

ul li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul li button img {
  width: 20px;
  height: 20px;
}

ul li button img:hover {
  filter: brightness(0.8);
}

.button {
  background-color: #28a745;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.button:hover {
  background-color: #218838;
}