body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-header h1 {
  margin: 0;
  font-size: 2.5rem;
}

nav a {
  color: #bada55;
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.1rem;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}


h2 {
  color: #444;
  font-size: 2.5rem;
  text-align: center;
}

p{
  font-size: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

form input, form button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form input[type="file"] {
  padding: 3px;
}

form button {
  background-color: #28a745;
  color: white;
  cursor: pointer;
  border: none;
}

form button:hover {
  background-color: #218838;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

ul li img {
  border-radius: 50%;
  margin-right: 20px;
}

ul li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul li button img {
  width: 20px;
  height: 20px;
}

ul li button img:hover {
  filter: brightness(0.8);
}

.button {
  background-color: #28a745;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.button:hover {
  background-color: #218838;
}



table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #f1f1f1;
}

button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button img {
  width: 20px;
  height: 20px;
}

.clockin-container {
  text-align: center;
}

.webcam-container {
  margin: 20px 0;
}

.employee-card {
  display: inline-block;
  border: 2px solid #ff9900;
  padding: 20px;
  background-color: #ffcc00;
  border-radius: 10px;
  text-align: left;
}

.employee-card img {
  width: 100%;
  border-radius: 10px;
}

.employee-card h3,
.employee-card p {
  margin: 5px 0;
}

/* App.css */

body {
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #333;
  padding: 10px;
  color: white;
  text-align: center;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.home-page {
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.content-sections {
  display: flex;
  justify-content: space-around;
}

.section {
  width: 45%;
  padding: 20px;
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section h3 {
  margin-top: 0;
}

.section p, .section ul {
  margin: 0;
}

.section ul {
  list-style-type: disc;
  padding-left: 20px;
}
/* App.css */

body {
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #333;
  padding: 10px;
  color: greenyellow;
  text-align: center;
}

nav a {
  margin: 0 15px;
  color: orange;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.home-page {
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.content-sections {
  display: flex;
  justify-content: space-around;
}

.section {
  width: 45%;
  padding: 20px;
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section h3 {
  margin-top: 0;
}

.icon-list {
  list-style-type: none;
  padding: 0;
}

.icon-list li {
  margin: 10px 0;
  font-size: 1.2em;
}

.icon-list i {
  margin-right: 10px;
  color: #555;
}
