/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.landing-section {
  padding: 50px;
}

.landing-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.landing-section p {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.main-button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s;
}

.main-button:hover {
  background-color: #21a1f1;
}
